* {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

body {
  background-size: contain;
  width: 1200px;
  margin: 0 auto;
  box-shadow: -10px 0 5px -5px rgba(0, 0, 0, 0.2), 10px 0 5px -5px rgba(0, 0, 0, 0.2);
}

nav {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background: rgba(0, 0, 0, 0.92);
  }
  
  .nav-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 14%;
    height: 60px;
    font-family: "Source Code Pro", monospace;
    margin-top: 0;
  }
  
  .nav-logo img {
    width: 50px;
    height: 40px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  
  .nav-logo h1 {
    color: #ff6e01;
    margin: 0;
    padding: 0;
  }
  
  .logo, .markontec {
    padding: 0;
    margin-bottom: -11px;
  }

  .nav-menu {
    width: 57.5%;
    margin: auto;
    font-weight: bold;
  }
  
  .nav-menu a {
    color:#40AD5D;
  }
  .nav-menu a:hover {
    color: white;
    transition: 0.3s;
    margin-bottom: 7px;
  }
  
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .nav-btn {
    width: 32%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    margin-right: 0;
  }
  
  .ul-services {
    display: none;
  }

button {
    padding: 13px 20px;
    border-radius: 30px;
    border: none;
    color: black;
    font-size: 0.9rem;
}

button:hover {
    transition: 0.3s;
    margin-bottom: 4px;
    color: white;
}

.btn-free-quotete {
    background: #ff6e01;
}

.btn-personalized-quote {
    background: #40AD5D;
}




footer {
    background: black;
    color: bisque;
    height: 500px;
    margin-top: 0;
  }
  .grouping {
    display: flex;
    padding-top: 25px;
    margin-right: 25px;
  }
  .logo-description {
    width: 350px;
    padding: 22px;
    padding-left: 80px;
  }
  .subgroup {
    padding-left: 140px;
    width:180px;
  }
  .grouping p {
    color: #40AD5D;
  }
  span {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 20px;
  }
  .subgroup span:hover {
    transition: 0.3s;
    margin-left: 7px;
    color: #40AD5D;
  }
.social-media-icon div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.social-media-icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
  }
.img-footer:hover {
  transition: 0.3s;
  padding-left:42px;
  background-repeat: no-repeat;
  background-position-x: left;
  background-image: url(/icons/mktransparent_eWc_icon.png)
}

