* {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url(/img/Background\ pattern.png);
  background-size:contain;
  width: 1400px;
  justify-content: center;
  margin: auto;
}
header {
  width: 1440px;
  height: 150px;
  margin: 0;
}
nav {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.nav-logo {
  width: 15%;
  font-family: "Source Code Pro", monospace;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.nav-logo img {
  width: 60px;
  height: 50px;
}
nav h1 {
  color: #ff6e01;
  margin: 0;
}
.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 60%;
}
.nav-btn {
  width: 25%;
  display: flex;
  justify-content: space-between;
}
ul {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
}
.ul-services {
  display: none;
}
