* {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
button {
  display: absolute;
  align-items: center;
  padding: 13px 20px;
  border-radius: 30px;
  border: none;
  color: aliceblue;
}
.free-quote {
  background:#ff6e01; 
}
.personlized-quote {
  background: #40AD5D; 
}
.container {
  box-shadow: -10px 0 5px -5px rgba(0, 0, 0, 0.2), 10px 0 5px -5px rgba(0, 0, 0, 0.2);
}
body {
  background-image: url(/img/Background\ pattern.png);
  background-size:contain;
  width: 1227px;
  margin: 0 auto;
}
.container {
  padding-left:  40px;
  padding-right: 40px;
}
header {
  height: 100px;
}
nav {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.nav-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 10.5%;
  height: 80px;
  font-family: "Source Code Pro", monospace;

}
.nav-logo img {
  width: 60px;
  height: 50px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.nav-logo h1 {
  color: #ff6e01;
  margin: 0;
  padding: 0;
}

.logo {
 padding: 0;
 margin: 0;
}
.markontec {
  margin: -10px;
  padding: 0;
  
}
.nav-menu {
  width: 57.5%;
  margin: auto;
}
.nav-menu a {
  color: #ff6e01;
}
ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}
li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-btn {
  width: 32%;
  display: flex;
  align-items: center;
  justify-content:space-between;
  flex-direction: row-reverse;
  margin-right: 0;
}
.ul-services {
  display: none;
}
.presentation {
  display: flex;
  align-items:end;
  height: 650px;
}
#texts {
  width: 43.5%;
  display:absolute
}
#texts h1 {
  font-size: 2.7rem;
  color:rgba(0, 0, 0, 0.73);
  margin-top: 20px;
  padding-top: 0;
}
#texts p {
  font-size: 1.5rem;
  margin-bottom: 0;
}
#images {
 width: 56.5%;
}

